* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

html {
  font-size: 62.5%;
}

/* hero nav */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem;
}
.logo-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-left: 1rem;
}
.logo-nav img {
  height: 2rem;
  width: 2rem;
}
.logo-text {
  font-size: 2.4rem;
}
.nav-links {
  display: flex;
  gap: 3.6rem;
  align-items: center;
}
.nav-link {
  font-size: 1.8rem;
  font-weight: 400;
  text-decoration: none;
  color: #000;
}
.icon-nav {
  background: #202020;
  border-radius: 4px;
}

.icon-n {
  color: #fff;
  height: 2rem;
  width: 2rem;
  padding: 1rem;
}
.heading-cont {
  background-color: #e5f8bc;
}
.heading-main {
  font-size: 4.4rem;
  font-weight: 700;
  text-align: center;
  padding: 12rem;
}

.center-container {
  max-width: 95%;
  margin: 0 auto;
}
.sub-heading {
  font-size: 3.6rem;
  padding-top: 6rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.grid-img {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 2rem;
}
.images-cont img {
  height: 30rem;
  max-width: 42.7rem;
  border-radius: 0.8rem;
  /* position: relative; */
}
.images-cont {
  position: relative;
}
.name-ct {
  position: absolute;
  background-color: #202020;
  color: #fff;
  padding: 0.8rem 1.6rem;
  position: absolute;
  border-radius: 0.8rem;
  left: 16px;
  top: 16px;
  /* line-height: 2.9rem; */
  font-size: 1.6rem;
}
.flex-column {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: start;
}
.des-ct {
  font-size: 1.6rem;
}
.des-cont {
  max-width: 76.5rem;
  font-weight: 400;
}
.single-section {
  padding-bottom: 6rem;
}
/* section-foot */

.section-foot {
  background-color: #2c2c2c;
  padding-top: 7rem;
  padding-bottom: 20rem;
}
.section-foot img {
  width: 12rem;
  height: 10.3rem;
}

.list-footer {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  color: #ffffff;
}
.heading-footer {
  font-size: 2.4rem;
}
.link-foot {
  color: #fff;
  text-decoration: none;
  font-size: 1.6rem;
}
.flex-cont {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4rem;
}
